.elgg-module.discovery-module-popup {
  max-width: 200px;
}

.discovery-buttonbank {
  text-align: center;
}

.discovery-buttonbank > li {
  display: inline-block;
  padding: 3px;
}

.elgg-menu-entity .webicon {
  margin: 0;
}
