.elgg-oembed {
	margin: 0;
    padding: 0;
    overflow: hidden;
	width: 100vw;
	height: 100vh;
}

.elgg-oembed-card {
	font-family: "Lucida Grande", Arial, Tahoma, Verdana, sans-serif;
    position: relative;
    background-position: 50%;
    background-size: cover;
    border: 1px solid #eee;
    vertical-align: middle;
    padding: 0px;
    margin: 0px auto;
	font-size: 5vh;
	width: 100%;
	height: 100%;
}

.elgg-oembed-card a {
	text-decoration: none;
}

.elgg-oembed-attributes {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(0,0,0, 0.2);
    padding: 2%;
    padding-right: 25%;
}

.elgg-oembed-owner-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 2%;
    width: 21%;
    height: auto;
    display: inline-block;
    vertical-align: bottom;
}

.elgg-oembed-card > * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.elgg-oembed-title a {
    color: #fff;
    font-size: 150%;
    line-height: 200%;
}

.elgg-oembed-byline a {
    color: rgba(255, 255, 255, 0.6);
    margin: 0;
    display: block;
}

.elgg-oembed-description {
    font-size: 105%;
	color: #eee;
    line-height: normal;
    margin-bottom: 10px;
}

.elgg-page .elgg-oembed-card {
	margin: 20px auto;
	max-width: 100%;
	max-height: 100%;
	font-size: 16px;
}